CompileFlags:
    Add: [-std=c++17, -Wall,-DALGOAT, -Wshadow, -Wnon-virtual-dtor,-Wcast-function-type-mismatch, -Wdeprecated-copy, -Wempty-init-stmt, -Wfuse-ld-path, -Wignored-qualifiers, -Winitializer-overrides, -Wmissing-field-initializers, -Wmissing-method-return-type, -Wnull-pointer-arithmetic, -Wnull-pointer-subtraction, -Wsemicolon-before-method-body, -Wstring-concatenation, -Wunused-but-set-parameter, -Wunused-parameter]

